<div class="border-bottom">
  <div class="float-left">
    <ul class="menu">
      <li class="menu"><a href="./home">Trang chủ</a></li>
      <li class="menu"><a href="./listcategory">Loại món ăn</a></li>
      <li class="menu"><a href="./listproduct">Món ăn</a></li>
      <li class="menu"><a href="./listorder">Các đơn đặt hàng</a></li>
      <li class="menu"><a href="./listcustomer">Danh sách khách hàng</a></li>
    </ul>
  </div>
  <div class="float-right">
    Xin chào <b><%=session.admin.username%></b> | <a href="./logout">Đăng xuất</a>
  </div>
  <div class="float-clear"></div>
</div>