<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="editcategory" method="POST">
        ID <input type="text" name="cateid" value="<%= cate._id%>" readonly><br/>
        Name <input type="text" name="catename" value="<%= cate.name%>"><br/>
        <input type="submit" value="UPDATE">
    </form>
</body>
</html>