<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div class="align-center">
    <h2 class="text-center">Đăng kí</h2>
    <form action="./signup" method="POST">
      <table class="align-center">
        <tr>
          <td>Tên tài khoản</td>
          <td><input type="text" name="txtUsername" required /></td>
        </tr>
        <tr>
          <td>Mật khẩu</td>
          <td><input type="password" name="txtPassword" pattern=".{3,}" required /></td>
        </tr>
        <tr>
          <td>Họ và tên</td>
          <td><input type="text" name="txtName" required /></td>
        </tr>
        <tr>
          <td>Số điện thoại</td>
          <td><input type="tel" name="txtPhone" pattern="0[0-9]{9}" required /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="email" name="txtEmail" required /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Đăng kí" /></td>
        </tr>
      </table>
    </form>
  </div>
</body>

</html>